{% load static %}
<!doctype html>
<html lang="kr">

    <head>
        <meta charset="UTF-8">
        <title>Buzzz | Scanner</title>
        <!--[if lt IE 9]>
        <script>
            document.createElement("header" );
            document.createElement("footer" );
            document.createElement("section");
            document.createElement("aside"  );
            document.createElement("nav"    );
            document.createElement("article");
            document.createElement("hgroup" );
            document.createElement("time"   );
        </script>
        <![endif]-->
        <!--모든페이지 공통-->
        {% include "base_assets.html" %}
        <!--END 모든페이지 공통-->
        <!--서브 페이지-->
        <link rel="stylesheet" href="{% static 'css/sub-page.css' %}" type="text/css" media="all">
        <script type="text/javascript" src="{% static 'js/sub_page.js' %}"></script>
        <!--END 서브 페이지-->
    </head>

    <body>
        <!--
            헤더 시작
            (
            data-page에 메인페이지 인지 서브페이지 인지 구분해주세요~!
            메인 페이지 -> data-page="main"
            서브 페이지 -> data-page="sub"
            )
-->
        <header data-page="sub">
            <div class="header_wrap">
                <div class="header_top_bar">
                    <div class="row_wrap header_ratio clear_col">
                        <div class="header_logo">
                            <!--헤더로고 부분 링크 홈으로 걸어주세요-->
                            <a href="{% url 'home' %}">
                                <img alt="buzzz_logo" src="{% static 'img/buzz_logo.png' %}" />
                            </a>
                            <!--END 헤더로고 부분 링크 홈으로 걸어주세요-->
                        </div>
                        {% if user.is_authenticated %}
                        <div class="header_right_info">
                          <div class="myinfo_wrap">
                              <!-- <a href="" class="notice_btn">notice</a>
                              <span>|</span> -->
                              <!--header_myinfo strong 태그 안에 이름과 아이디 노출 시켜주세요-->
                              <span class="header_myname">{{ user.username }}({{ user.email }})</span>
                              <!--END header_myinfo strong 태그 안에 이름과 아이디 노출 시켜주세요-->
                              <span>|</span>
                              <a href="">회원정보</a>
                          </div>
                          <div class="mylogin_wrap">
                              <a href="{% url 'logout' %}" class="logout_btn">LOGOUT</a>
                          </div>
                      </div>
                      {% endif %}
                    </div>
                </div>
                <div class="header_bottom_bar">
                    <div class="row_wrap header_ratio clear_col">
                        <div class="search_bar clear_col">
                            <!--search icon 클릭시 검색되게 해주세요-->
                            <a class="search_icon"></a>
                            <!--END search icon 클릭시 검색되게 해주세요-->
                            <!--search 검색 input-->
                            <input type="text" placeholder="검색어를 입력해주세요." id="totalSearch"  maxlength="100"/>
                            <!--END search 검색 input-->
                        </div>
                        <nav class="header_menu">
                            <ul>
                                <!-- header menu anchor 태그에 주소값 넣어주세요-->
                                <li><a href="{% url 'marketsignal:home' %}">마켓시그널</a></li>
                                <li><a href="{% url 'defacto:home' %}" class="active">수급스캐너</a></li>
                                <li><a href="{% url 'rms:home' %}">리스크 매니지먼트</a></li>
                                <!--END header menu anchor 태그에 주소값 넣어주세요-->
                            </ul>
                        </nav>
                        <div class="my_portfolio_btn">
                            <!-- my portfolio 버튼 클릭시 마이포트폴리오 페이지로 연결해주세요 -->
                            <a href="#">
                                <span class="portfolio_icon_color">my portfolio</span>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 164 164" style="enable-background:new 0 0 164 164;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path class="portfolio_icon_color" d="M82,96.6c-19.8,0-36-16.1-36-36s16.1-36,36-36s36,16.1,36,36S101.8,96.6,82,96.6z M82,28
                                                                                  c-18,0-32.6,14.6-32.6,32.6S64,93.1,82,93.1s32.6-14.6,32.6-32.6S99.9,28,82,28z"/>
                                            <path class="portfolio_icon_color" d="M141.5,137.6h-3.4c0-21.9-12.9-41.9-32.8-51.1l1.4-3.1C127.9,93.1,141.5,114.4,141.5,137.6z"/>
                                            <path class="portfolio_icon_color" d="M25.9,137.6h-3.4c0-23.2,13.7-44.5,34.8-54.2l1.4,3.1C38.7,95.7,25.9,115.7,25.9,137.6z"/>
                                        </g>
                                        <path class="portfolio_icon_color" d="M82,163.9c-45.2,0-82-36.8-82-82S36.8,0,82,0c45.2,0,82,36.8,82,82S127.2,163.9,82,163.9z M82,3.4
                                                                              C38.7,3.4,3.4,38.7,3.4,82s35.2,78.5,78.5,78.5s78.5-35.2,78.5-78.5S125.3,3.4,82,3.4z"/>
                                    </g>
                                </svg>
                            </a>
                            <!-- END my portfolio 버튼 클릭시 마이포트폴리오 페이지로 연결해주세요 -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="identity_btn_wrap row_wrap header_ratio clear_col">
                <!--
메세지 알림
현재 페이지에 메세지가 있다면
message_on을 클래스명에 넣어주세요
-->
                <a class="identity_icon_btn message_on">
                    <figure class="circle_icon"></figure>
                    <figure class="bee_icon"></figure>
                </a>
                <!-- END 메세지 알림 -->
                <!-- 메세지 팝업 알림( 페이지별 메세지 여기에 작성해주시면 됩니다. ) -->
                <div class="identity_popup">
                    <div class="identity_title">
                        마켓시그널 (MARKET SIGNAL)
                    </div>
                    <div class="identity_description">
                        <p>시장의 큰 흐름을 읽습니다. 시장을 움직이는 주요 거시 지표들을 분석하여 미래 시장의 방향성을 알아봅니다.</p>
                        <p>시장의 큰 흐름을 읽습니다. 시장을 움직이는 주요 거시 지표들을 분석하여 미래 시장의 방향성을 알아봅니다.</p>
                    </div>
                </div>
                <!-- END 메세지 팝업 알림 -->
            </div>
        </header>
        <!--END 헤더 끝-->
        <!-- 마켓 시그널 주식 정보 -->
        <section id="scanner_section1" class="row_wrap">
            <div class="content_row_wrap">
                <div class="sub_container">
                    <div id="scanner_chart_section1" class="scanner_chart_section clear_col et-col-wrap wrap_gutter_ratio">
                        <div id="agency_ranking" class="col col_gutter col-et-6 ranking_wrap">
                            <div class="sub_ranking_title accent-color">기관 수급 랭킹 상위종목</div>
                            <div id="agency_table_wrap" class="ranking_table_wrap">
                                <table class="scanner_table">
                                   <thead>
                                       <tr>
                                           <th></th>
                                           <th></th>
                                           <th class="left_td title_td accent-color">종목명</th>
                                           <th class="accent-color lead_td">주도주체</th>
                                           <th class="accent-color">종합점수</th>
                                           <th></th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr class="plus_line">
                                           <td class="first_num">
                                               <div class="num_contents_wrap">
                                                   <div class="info_contetns clear_col">
                                                       <div class="up_down_icon col"></div>
                                                       <!-- 증감 숫자 -->
                                                       <div class="info_num col">1</div>
                                                       <!-- END 증감 숫자 -->
                                                   </div>
                                               </div>
                                           </td>
                                           <td class="normal_num">1</td>
                                           <td class="left_td title_td">삼성전자</td>
                                           <td class="lead_td">외국인</td>
                                           <td class="grade_num">90</td>
                                           <td class="cart_wrap"><div class="cart_button">+</div></td>
                                       </tr>
                                       <tr class="plus_line">
                                           <td class="first_num">
                                               <div class="num_contents_wrap">
                                                   <div class="info_contetns clear_col">
                                                       <div class="up_down_icon col"></div>
                                                       <!-- 증감 숫자 -->
                                                       <div class="info_num col">4</div>
                                                       <!-- END 증감 숫자 -->
                                                   </div>
                                               </div>
                                           </td>
                                           <td class="normal_num">2</td>
                                           <td class="left_td title_td">현대차</td>
                                           <td class="lead_td">기관</td>
                                           <td class="grade_num">86</td>
                                           <td class="cart_wrap"><div class="cart_button">+</div></td>
                                       </tr>
                                       <tr class="minus_line">
                                           <td class="first_num">
                                               <div class="num_contents_wrap">
                                                   <div class="info_contetns clear_col">
                                                       <div class="up_down_icon col"></div>
                                                       <!-- 증감 숫자 -->
                                                       <div class="info_num col">2</div>
                                                       <!-- END 증감 숫자 -->
                                                   </div>
                                               </div>
                                           </td>
                                           <td class="normal_num">3</td>
                                           <td class="left_td title_td">삼성SDI</td>
                                           <td class="lead_td">기관</td>
                                           <td class="grade_num">78</td>
                                           <td class="cart_wrap"><div class="cart_button">+</div></td>
                                       </tr>
                                       <tr class="plus_line">
                                           <td class="first_num">
                                               <div class="num_contents_wrap">
                                                   <div class="info_contetns clear_col">
                                                       <div class="up_down_icon col"></div>
                                                       <!-- 증감 숫자 -->
                                                       <div class="info_num col">2</div>
                                                       <!-- END 증감 숫자 -->
                                                   </div>
                                               </div>
                                           </td>
                                           <td class="normal_num">4</td>
                                           <td class="left_td title_td">S-OIL</td>
                                           <td class="lead_td">외국인</td>
                                           <td class="grade_num">74</td>
                                           <td class="cart_wrap"><div class="cart_button">+</div></td>
                                       </tr>
                                       <tr class="minus_line">
                                           <td class="first_num">
                                               <div class="num_contents_wrap">
                                                   <div class="info_contetns clear_col">
                                                       <div class="up_down_icon col"></div>
                                                       <!-- 증감 숫자 -->
                                                       <div class="info_num col">2</div>
                                                       <!-- END 증감 숫자 -->
                                                   </div>
                                               </div>
                                           </td>
                                           <td class="normal_num">5</td>
                                           <td class="left_td title_td">포스코</td>
                                           <td class="lead_td">기관</td>
                                           <td class="grade_num">72</td>
                                           <td class="cart_wrap"><div class="cart_button">+</div></td>
                                       </tr>
                                       <tr class="minus_line">
                                           <td class="first_num">
                                               <div class="num_contents_wrap">
                                                   <div class="info_contetns clear_col">
                                                       <div class="up_down_icon col"></div>
                                                       <!-- 증감 숫자 -->
                                                       <div class="info_num col">5</div>
                                                       <!-- END 증감 숫자 -->
                                                   </div>
                                               </div>
                                           </td>
                                           <td class="normal_num">6</td>
                                           <td class="left_td title_td">KT</td>
                                           <td class="lead_td">기관</td>
                                           <td class="grade_num">68</td>
                                           <td class="cart_wrap"><div class="cart_button">+</div></td>
                                       </tr>
                                   </tbody>
                                </table>
                            </div>
                            <div id="agency_paging_nav" class="table_paging_nav">
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                            </div>
                        </div>
                        <div class="col col_gutter col_line_wrap">
                            <div class="col_line">

                            </div>
                        </div>
                        <div id="foreigner_ranking" class="col col_gutter col-et-6 ranking_wrap">
                            <div class="sub_ranking_title accent-color">외인 수급 랭킹 상위종목</div>
                            <div id="foreigner_table_wrap" class="ranking_table_wrap">
                                <table class="scanner_table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th class="left_td title_td accent-color">종목명</th>
                                            <th class="accent-color lead_td">주도주체</th>
                                            <th class="accent-color">종합점수</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="plus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">1</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">1</td>
                                            <td class="left_td title_td">삼성전자</td>
                                            <td class="lead_td">외국인</td>
                                            <td class="grade_num">90</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="plus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">4</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">2</td>
                                            <td class="left_td title_td">현대차</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">86</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="minus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">2</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">3</td>
                                            <td class="left_td title_td">삼성SDI</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">78</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="plus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">2</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">4</td>
                                            <td class="left_td title_td">S-OIL</td>
                                            <td class="lead_td">외국인</td>
                                            <td class="grade_num">74</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="minus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">2</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">5</td>
                                            <td class="left_td title_td">포스코</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">72</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="minus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">5</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">6</td>
                                            <td class="left_td title_td">KT</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">68</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="foreigner_paging_nav" class="table_paging_nav">
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="scanner_section2" class="row_wrap">
            <div class="content_row_wrap">
                <div class="sub_container">
                    <div class="col_line_wrap2">
                        <div class="col_line2"></div>
                    </div>
                    <div id="scanner_chart_section2" class="scanner_chart_section clear_col et-col-wrap wrap_gutter_ratio">
                        <div id="jump_ranking" class="col col_gutter col-et-4 ranking_wrap">
                            <div class="sub_ranking_title accent-color">랭킹 급등 종목</div>
                                <div id="jump_table_wrap" class="ranking_table_wrap">
                                <table class="scanner_table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th class="left_td title_td accent-color">종목명</th>
                                            <th class="accent-color lead_td">주도주체</th>
                                            <th class="accent-color">종합점수</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="plus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">1</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">1</td>
                                            <td class="left_td title_td">삼성전자</td>
                                            <td class="lead_td">외국인</td>
                                            <td class="grade_num">90</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="plus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">4</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">2</td>
                                            <td class="left_td title_td">현대차</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">86</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="minus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">2</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">3</td>
                                            <td class="left_td title_td">삼성SDI</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">78</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="plus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">2</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">4</td>
                                            <td class="left_td title_td">S-OIL</td>
                                            <td class="lead_td">외국인</td>
                                            <td class="grade_num">74</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="minus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">2</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">5</td>
                                            <td class="left_td title_td">포스코</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">72</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="minus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">5</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">6</td>
                                            <td class="left_td title_td">KT</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">68</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="jump_paging_nav" class="table_paging_nav">
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                            </div>
                        </div>
                        <div id="col_line1" class="col col_gutter col_line_wrap">
                            <div class="col_line"></div>
                        </div>
                        <div id="trand_up_ranking" class="col col_gutter col-et-4 ranking_wrap">
                            <div class="sub_ranking_title accent-color">기관 수급 랭킹 급등종목</div>
                            <div id="trand_up_table_wrap" class="ranking_table_wrap">
                                <table class="scanner_table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th class="left_td title_td accent-color">종목명</th>
                                            <th class="accent-color lead_td">주도주체</th>
                                            <th class="accent-color">종합점수</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="plus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">1</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">1</td>
                                            <td class="left_td title_td">삼성전자</td>
                                            <td class="lead_td">외국인</td>
                                            <td class="grade_num">90</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="plus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">4</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">2</td>
                                            <td class="left_td title_td">현대차</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">86</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="minus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">2</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">3</td>
                                            <td class="left_td title_td">삼성SDI</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">78</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="plus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">2</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">4</td>
                                            <td class="left_td title_td">S-OIL</td>
                                            <td class="lead_td">외국인</td>
                                            <td class="grade_num">74</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="minus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">2</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">5</td>
                                            <td class="left_td title_td">포스코</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">72</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="minus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">5</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">6</td>
                                            <td class="left_td title_td">KT</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">68</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="trand_up_paging_nav" class="table_paging_nav">
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                            </div>
                        </div>
                        <div id="col_line2" class="col col_gutter col_line_wrap">
                            <div class="col_line"></div>
                        </div>
                        <div id="trand_down_ranking" class="col col_gutter col-et-4 ranking_wrap">
                            <div class="sub_ranking_title accent-color">외인 수급 랭킹 급등종목</div>
                            <div id="trand_down_table_wrap" class="ranking_table_wrap">
                                <table class="scanner_table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th class="left_td title_td accent-color">종목명</th>
                                            <th class="accent-color lead_td">주도주체</th>
                                            <th class="accent-color">종합점수</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="plus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">1</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">1</td>
                                            <td class="left_td title_td">삼성전자</td>
                                            <td class="lead_td">외국인</td>
                                            <td class="grade_num">90</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="plus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">4</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">2</td>
                                            <td class="left_td title_td">현대차</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">86</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="minus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">2</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">3</td>
                                            <td class="left_td title_td">삼성SDI</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">78</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="plus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">2</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">4</td>
                                            <td class="left_td title_td">S-OIL</td>
                                            <td class="lead_td">외국인</td>
                                            <td class="grade_num">74</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="minus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">2</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">5</td>
                                            <td class="left_td title_td">포스코</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">72</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                        <tr class="minus_line">
                                            <td class="first_num">
                                                <div class="num_contents_wrap">
                                                    <div class="info_contetns clear_col">
                                                        <div class="up_down_icon col"></div>
                                                        <!-- 증감 숫자 -->
                                                        <div class="info_num col">5</div>
                                                        <!-- END 증감 숫자 -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="normal_num">6</td>
                                            <td class="left_td title_td">KT</td>
                                            <td class="lead_td">기관</td>
                                            <td class="grade_num">68</td>
                                            <td class="cart_wrap"><div class="cart_button">+</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="trand_down_paging_nav" class="table_paging_nav">
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END 마켓 시그널 주식 정보 -->
        <!-- 푸터 시작 -->
        <footer id="sub_footer">
            <div class="footer_logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/footer_logo.png' %}" alt="footer logo" />
                </a>
            </div>
            <div class="footer_txt">
                <a href="#">버즈소개</a>
                <span class="footer_line">|</span>
                <a href="#">이용약관</a>
            </div>
        </footer>
        <!-- END 푸터 시작 -->
    </body>

</html>
